.course-item {
  min-width: 300px;
  max-height: 350px;
  width: 22%;
  height: 100%;
  > .img {
    position: relative;
    height: 160px;
    border: 1px solid rgb(227, 218, 218);
    border-radius: 12px;
    cursor: pointer;
    > .sale-off {
      position: absolute;
      right: 0;

      color: white;
      background: red;

      font-weight: 700;
      padding: 5px;

      z-index: 2;
    }
    > img {
      width: 100%;
      height: 100%;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  > .content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    line-height: 25px;

    > .name {
      font-weight: 700;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    > .sell-number {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      // gap: 20px;

      > .tags {
        background: rgb(38, 0, 255);
        color: white;
        font-weight: 700;
        padding: 2px 10px;
      }
    }

    > .current_price {
      display: flex;
      flex-direction: row;
      gap: 10px;
      > .original_price {
        text-decoration: line-through;
        // font-weight: 500;
        color: rgb(119, 119, 119);
      }
      > .free {
        padding: 1px 10px;
        // background: rgb(0, 79, 99);
        background: rgb(115, 116, 17);
        border-radius: 2px;
        color: white;
        user-select: none;
      }
    }
  }

  //set product modal
  &:nth-child(4n) {
    > .img {
      > .course-modal {
        right: calc(100% + 10px);
      }
    }
  }
  &:not(:nth-child(4n)) {
    > .img {
      > .course-modal {
        left: calc(100% + 10px);
      }
    }
  }
}
